<h1 mat-dialog-title> Créer un nouveau Topic</h1>
<div mat-dialog-content>
  <mat-form-field class="input-full-width">
    <input matInput required [(ngModel)]="data.code" name="code" placeholder="Code du topic">
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <input matInput required [(ngModel)]="data.libelle" name="libelle" placeholder="Libelle du topic">
  </mat-form-field>
  <mat-form-field class="input-full-width">
    <input [(colorPicker)]="color" [style.background]="color" (colorPickerChange)="data.badge=color"
           matInput required [(ngModel)]="data.badge" name="badge" placeholder="Couleur de badge du topic"/>

  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
