<!-- Formulaire de création du contenu d'un évènement -->
<form class="example-form">
  <p>
    <app-ngx-editor height="70vh" [(ngModel)]="event.content" name="ngxeditor" (ngModelChange)="onContentChange()"></app-ngx-editor>
  </p>
</form>
