<div class="form-container">
  <div class="timeline-form-container">
    <form class="timeline-form">
      <h1>Create a Timeline</h1>
      <mat-form-field class="input-full-width">
        <input matInput required [(ngModel)]="timeline.title" placeholder="Titre" name="title">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerBeginDate" placeholder="Date de début" [(ngModel)]="timeline.from"
               name="from">
        <mat-datepicker-toggle matSuffix [for]="pickerBeginDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerBeginDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="pickerEndDate" placeholder="Date de fin" [(ngModel)]="timeline.to" name="to">
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input-full-width">
        <input matInput required [(ngModel)]="timeline.resume" placeholder="Resumé" name="resume">
      </mat-form-field>
      <div class="topics-container">
        <mat-form-field class="input-80-width">
          <mat-select placeholder="topics" [formControl]="topicsForm" multiple>
            <mat-option (click)="linkTopicToTimeline(topic)" *ngFor="let topic of topics" [value]="topic">{{topic.libelle}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="openDialog()">Créer un nouveau Topic</button>
      </div>

      <div class="new-timeline">
        <button mat-raised-button color="accent" class="create-tl-btn" (click)="submit()">Créer</button>
      </div>
    </form>
  </div>
</div>
