.timeline-form-container {
  position: relative;
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
  padding: 75px 5% 5% 5%;
  background-color: white;
  height: 100vh;
  display: flex;
}

.form-container {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.input-80-width {
  width: 50%;
  padding-right: 5%;
}

.new-timeline {
  width: 100%;
  position: relative;
  padding-top: 2em;
}

.create-tl-btn {
  width: 40%;
  margin-left: 30%;
}
