.button-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  top: 14%;
}

.toolbar-container {
  margin-left: 1em;

}

.button-bar-item {
  right: 2%;
}

.date-display {
}

.timeline-title {
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1.5em;
}

.timeline-title-edit {
  margin-left: 1em;
  margin-right: 1.5em;
}

.page-container {
  height: 100vh;
  padding-top: 75px;
}

.sidebar-content {

}

.sidebar-container {
  padding: 20px;
  min-width: 30%;
  max-width: 50%;
}


.mat-drawer {
  position: fixed;
  top: 8%;
}

.close-sidebar {
  float: right;
}

.timeline {
  min-height: -webkit-fill-available;
}


.toolbar-btn {
  margin-right: 2%;
}

.header-container {
  display: flex;
}

.scrollable {
  overflow: auto;
}
