<div *ngIf="timeline === undefined" style="top: 150px;">
  loading...
</div>

<!-- Page de visualisation d'une timeline -->
<mat-drawer-container *ngIf="timeline !== undefined" class="page-container" autosize>

  <!-- Side bar -->
  <mat-drawer #drawer class="sidebar-container" mode="side">
    <div class="close-sidebar">
      <button mat-button class="button-bar-item" (click)="closeSideBar(-1)">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <app-event-form [event]="editedEvent" *ngIf="editedEvent !== undefined && showFiller==false"></app-event-form>
    <p *ngIf="showFiller==true"><app-event-form-content [event]="editedEvent"></app-event-form-content></p>
    <button *ngIf="showFiller==false" (click)="showFiller = !showFiller" mat-raised-button>
      Ecrire du contenu
    </button>
    <button *ngIf="showFiller" (click)="showFiller = !showFiller" mat-raised-button>
      Terminer
    </button>
  </mat-drawer>

  <!-- Barre de visualisation des topics de la timeline -->
  <div class="timeline-container">
    <div class="row">
      <div class="col-sm-12">

        <div class="header-container">
          <!-- Titre -->

          <h1 *ngIf="!timelineEdit" class="timeline-title">{{timeline.title}}</h1>
          <input *ngIf="timelineEdit" class="timeline-title-edit" [(ngModel)]="timeline.title"/>
          <button mat-button class="button-bar-item" (click)="editTimeline()">
            <mat-icon *ngIf="!timelineEdit">edit</mat-icon>
            <mat-icon *ngIf="timelineEdit">check</mat-icon>
          </button>


          <!-- Barre de visualisation des topics de la ti-eline -->
          <app-topic [timelineId]="timeline.id"></app-topic>
        </div>
        <!-- Barre d'actions sur la timeline -->

        <mat-toolbar class="toolbar-container">
          <button mat-raised-button color="accent" class="toolbar-btn" (click)="alternate = !alternate"
                  *ngIf="alternate">Alterner
          </button>
          <button mat-raised-button color="basic" class="toolbar-btn" (click)="alternate = !alternate"
                  *ngIf="!alternate">Alterner
          </button>
          <button mat-raised-button color="primary" class="toolbar-btn" (click)="toggleSide()" *ngIf="!alternate">
            Changer de côté
          </button>
          <button mat-raised-button color="accent" class="toolbar-btn" (click)="toggle = !toggle" *ngIf="toggle">
            Maintenir ouvert
          </button>
          <button mat-raised-button color="basic" class="toolbar-btn" (click)="toggle = !toggle" *ngIf="!toggle">
            Maintenir ouvert
          </button>
        </mat-toolbar>

        <!-- Bouton de création d'évènement -->
        <app-unshift-event-button
          (unshiftEntry)="unshiftEntry($event)"
        ></app-unshift-event-button>

        <!-- Composant de visualisation d'une Timeline -->

        <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side"
                      class="search-results"
                      infiniteScroll
                      [infiniteScrollDistance]="2"
                      [infiniteScrollUpDistance]="1.5"
                      [infiniteScrollThrottle]="500"
                      (scrolled)="onScrollDown()">
          <!-- Parcours des évènements d'un timeline -->
          <mgl-timeline-entry *ngFor="let entry of sortedArray; let i = index;" (expand)="selectEvent($event, i)">

            <!-- Carte d'évènement sur la timeline -->

            <!-- Point d'ancrage clickable d'un évènement sur la timeline -->
            <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'"
                                    [size]="size"
                                    (click)="onDotClick($event)">
            </mgl-timeline-entry-dot>

            <!-- Header clickable -->
            <mgl-timeline-entry-header (click)="onHeaderClick($event)">
              <div>
                <!-- Bouton d'édition d'un évènement sur une carte évènement -->
                <div class="row button-bar">
                  <button mat-button class="button-bar-item" (click)="edit(i)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-button class="button-bar-item" (click)="removeAndDelete(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
                <div class="title">{{entry.title}}</div>
              </div>
            </mgl-timeline-entry-header>

            <!-- Affichage de la date de l'évènement-->
            <mgl-timeline-entry-side>
              <div class="date-display">
                <div *ngIf="entry.from">{{entry.from | date:'mediumDate'}}</div>
                <div *ngIf="entry.to"> to {{entry.to | date:'mediumDate'}}</div>
              </div>
            </mgl-timeline-entry-side>

            <!-- Contenu d'un évènement -->
            <mgl-timeline-entry-content class="scrollable">
              <app-event [event]="entry"></app-event>
            </mgl-timeline-entry-content>

          </mgl-timeline-entry>
        </mgl-timeline>
      </div>
    </div>
  </div>
</mat-drawer-container>
