.login-container {
  position: relative;
  width: 50vw;
  margin-left: 25vw;
  margin-right: auto;
  padding: 75px 5% 5% 5%;
  background-color: white;
  height: 100vh;
  display: flex;
}

.form-container {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}

.btn-container {
  padding-top: 3vh;
}
