<div class="topic-bar-container">
  <div class="topic-item">
    <span  style="margin-right:1ch"
           *ngFor="let topic of topics" [style.background-color]="topic.badge">{{topic.libelle}}<a (click)="remove(topic)"><i style="padding-left: 2ch;" class="glyphicon glyphicon-remove"></i></a> </span>


  </div>
</div>
