<div class="container-fluid">
  <header>
    <div class="container">
      <h1>Contributions</h1>
    </div>
  </header>

  <table mat-table [dataSource]="contributionList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="eventBefore">
      <th mat-header-cell *matHeaderCellDef> Event title</th>
      <td mat-cell *matCellDef="let element"> {{element.eventBefore.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="timeline">
      <th mat-header-cell *matHeaderCellDef> Timeline title </th>
      <td mat-cell *matCellDef="let element"> {{element.timeline.title}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> <div class="new-timeline">
        <div class="btn-actions-container">
          <form>
            <button type="submit" (click)="submitComparison(element)" mat-raised-button color="basic" class="action-btn">View</button>
          </form>
        </div>
      </div> </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="main-content">
    <div class="container">
      <div *ngIf="submitted">
        <td-ngx-text-diff
          [left]="content.leftContent"
          [right]="content.rightContent"
          [loading]="!submitted"
          [diffContent]="contentObservable$"
          [compareRowsStyle]="{'max-height': '500px', 'overflow': 'auto'}"
          (compareResults)="onCompareResults($event)"
        >
        </td-ngx-text-diff>
      </div>
    </div>
  </div>
</div>
