.browse-timelines-container {
  position: relative;
  width: 80%;
  background: white;
  margin-left: 10%;
  margin-right: auto;
  padding: 75px 2% 2% 2%;
  height: 100vh;
}

h1 {
  padding-bottom: 2%;
}

table {
  width: 100%;
}

.new-timeline {
  position: relative;
  margin-left: 1em;
  margin-right: auto;
  padding-top: 1.5em;
  width: 30%;
}

.tl-btn {
  width: 50%;
  margin-left: 25%;
  margin-right: auto;
}

table .mat-header-cell {
  font-size:1.5em;
  text-align: center;
}

.mat-cell {
  text-align: center;
}

.btn-actions-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.8em;
}

.header-container {
  display: flex;
}

.action-btn {
  text-align: center;
  margin: -2% 2% 2% 2%;
}
