<div *ngIf="timelines === undefined" style="top: 150px;">
  loading...
</div>

<div *ngIf="timelines !== undefined" class="browse-timelines-container">
  <div class="header-container">
    <h1>Timelines</h1>
    <div class="new-timeline">
      <button mat-raised-button color="accent" class="tl-btn" (click)="router.navigate(['/new/timeline']);">Créer une timeline</button>
    </div>
  </div>
  <table mat-table [dataSource]="timelines" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="from">
      <th mat-header-cell *matHeaderCellDef> From </th>
      <td mat-cell *matCellDef="let element"> {{element.from | date:'short'}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="to">
      <th mat-header-cell *matHeaderCellDef> To </th>
      <td mat-cell *matCellDef="let element"> {{element.to | date:'short'}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="resume">
      <th mat-header-cell *matHeaderCellDef> Resume </th>
      <td mat-cell *matCellDef="let element"> {{element.resume}} </td>
    </ng-container>

    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> <div class="new-timeline">
        <div class="btn-actions-container">
        <button mat-raised-button color="basic" class="action-btn" (click)="router.navigate(['/timeline/', element.id]);">View</button>
          <button mat-raised-button color="warn" class="action-btn" (click)="deleteTimeline(element.id);">Delete</button>
        </div>
      </div> </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
