.content {
  overflow: hidden;
}

.mat-card-image {
  width: 150px;
}

h2 {
  font-family: "Third Time Lucky", Arial, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p {
  text-align: justify;
}

.link {
  font-weight: bold;
  text-align: center;
}