<div class="m-t-70"></div>
<div>
  <mat-sidenav-container>
    <mat-sidenav #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <a mat-list-item routerLink='#'>Contact</a>
        <a mat-list-item routerLink='#'>Contribuer</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <div class="row">
        <mat-card>
          <div class="container">
            <div class="row">
              <div class="col-md-2 m-t-25">
                <img mat-card-image src="assets/img/logo-square.png">
              </div>
              <div class="col-md-6 m-t-35">
                <h1>TimeArrow</h1>
                <p>L'histoire que chacun peut écrire</p>
              </div>
              <div class="col-md-3 m-t-35">
                <div>
                  <p class="link">Charte d'utilisation</p>
                  <p class="link">Principes fondateurs</p>
                  <p class="link">Sommaire de l'aide</p>
                  <p class="link">Faire un don</p>
                </div>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="row">
        <div class="col-md-7 m-t-10">
          <mat-card>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h2>Timelines ayant un événement aujourd'hui</h2>
                  <mat-list>
                    <mat-list-item> • Indiens d'amérique </mat-list-item>
                    <mat-list-item> • Dropshipping</mat-list-item>
                    <mat-list-item> • Nöel </mat-list-item>
                    <mat-list-item> • Virtualisation </mat-list-item>
                    <mat-list-item> • Seconde guerre mondiale </mat-list-item>
                    <mat-list-item> • Montres </mat-list-item>
                    <mat-list-item> • Asus </mat-list-item>
                  </mat-list>
                </div>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-md-5 m-t-10">
            <mat-card>
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                      <h2>Présentation</h2>
                      <br>
                      <p>TimeArrow est un projet d’encyclopédie collective sous forme de frise en ligne, le tout fonctionnant sur le principe du wiki. Ce projet vise à offrir un contenu librement réutilisable, objectif et vérifiable, que chacun peut modifier et améliorer. Ce projet a été élaboré en automne 2019 par 5 étudiants de l'UTBM dans le cadre d'un projet tutoré (nommé TA70) et dans le but d'empocher leur diplome au bout des 3 années d'études.</p>
                    </div>
                  </div>
                </div>
              </mat-card>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
