<!--  Formulaire de création d'évènement -->

<!--  Titre -->
<mat-form-field class="example-full-width">
  <input matInput placeholder="Titre" [(ngModel)]="event.title">
</mat-form-field>

<!--  Résumé -->
<mat-form-field class="example-full-width text-area-height">
  <textarea matInput
            name="event.resume"
            placeholder="Resumé"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="20"
            [(ngModel)]="event.resume"
  ></textarea>
</mat-form-field>

<!--  Date de début -->
<div class="form-item">
  <mat-form-field>
    <input matInput [matDatepicker]="pickerBeginDate" placeholder="Date de début" [(ngModel)]="event.from">
    <mat-datepicker-toggle matSuffix [for]="pickerBeginDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerBeginDate></mat-datepicker>
  </mat-form-field>
</div>

<!--  Date de fin -->
<div class="form-item">
  <mat-form-field>
    <input matInput [matDatepicker]="pickerEndDate" placeholder="Date de fin" [(ngModel)]="event.to">
    <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
    <mat-datepicker #pickerEndDate></mat-datepicker>
  </mat-form-field>
</div>

<!--  Image de présentation -->
<mat-form-field class="example-full-width text-area-height">
  <textarea matInput
            placeholder="Image de présentation"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="20"
            [(ngModel)]="event.image"></textarea>
</mat-form-field>

<!--  Vidéo de présentation -->
<mat-form-field class="example-full-width text-area-height">
  <textarea matInput
            placeholder="Vidéo de présentation"
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="20"
            [(ngModel)]="event.video"
            (ngModelChange)="linkSanitizer()"
  ></textarea>
</mat-form-field>



