.register-container {
  position: relative;
  width: 60vw;
  margin-left: 20vw;
  margin-right: auto;
  padding: 75px 5% 5% 5%;
  background-color: white;
  height: 100vh;
  display: flex;
}

.form-container {
  width: 80%;
  margin-left: 10%;
  margin-right: auto;
}
